{% extends "base/base.html" %}
{% block title %}Şifre Güncelle · {% endblock title %}
{% block content %}
<style>

    .errorlist {
        padding: 10px;
        background-color: #9c0a00;
        color: white;
    }
    
    #id_old_password{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    #id_new_password1{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    #id_new_password2{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
</style>
<div class="container d-flex justify-content-center">
    <div class="col-md-6 mx-auto">
        <h1 class="text-center display-4 fst-italic rounded">Şifreni Güncelle</h1>
            <div class="col">
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    <div class="col-12">
                        {{form.as_p}}
                    </div>
                    <hr class="my-4">
                    <button class="w-100 btn btn-success btn-lg" type="submit">Güncelle</button>
                </form>
            </div>
    </div>
</div>
{% endblock %}